<meta name="description" content="شركة كودس روتس هي شركة متخصصه في تصميم المواقع وذلك بالاعتماد علي افضل التقنيات واللغات الحديثه في تصميم المواقع ">
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="شركة كودس روتس هي شركة متخصصه في تصميم المواقع وذلك بالاعتماد علي افضل التقنيات واللغات الحديثه في تصميم المواقع">
<meta name="keywords" content="تصميم مواقع-افضل شركة لتصميم المواقع-تصميم ورد بريس-تصميم مواقع باحترافية-تصميم مواقع مجانا">

<section class="web-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">
                    البرمجه الخاصة فى تصميم المواقع
                </h1>
            </div>
            <div class="col-12">
                <app-fatc-boxes [facts]='facts'></app-fatc-boxes>
            </div>           
        </div>
    </div>
    <web-design-section></web-design-section>
    <why-codesroots></why-codesroots>    
</section>