<section class="cars-page">
    <div class="page-heade">
        <div 
            class="page-img"
            style="background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./../../../../assets/images/car.jpg);"></div>
        <div class="page-title">
            <p>
                احدث برنامج ادارة السيارات المؤجرة في الوطن العربي
            </p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="inner-title" style="font-weight: bold; margin-bottom: 70px;"> 
                    أهم ما يميز البرنامج
                </h3>
            </div>  
            <div class="col-md-4">
                <div class="feature-box text-right">
                    <div class="feature-title">
                        <img src="./../../../assets/images/Features-128.png" alt="" width="50px" />
                        <span>
                            تقارير شاملة
                        </span>
                    </div>
                    <div class="feature-content">
                        <p>
                            تقرير بالسيارات منتهية الرخصة
                            تقرير بالسيارات التي تحتاج الي تغيير زيت
                            تقرير مراقبة حركة الخزينة اليومية
                            تقرير مبيعات السيارات
                            تقرير بالسيارات المتاحة
                            تقرير بالعقود المعلقة بهدف الحجز مع التنبه
                            بوجود سيارات محجوزة
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-box text-right">
                    <div class="feature-title">
                        <img src="./../../../assets/images/presentaciones.png" alt="" width="50px" />
                        <span>
                            الربط التلقائي مع اطراف خارجية
                        </span>
                    </div>
                    <div class="feature-content">
                        <p>
                            المرحلة المتطورة في الاصدار الجديد
                            للبرنامج هو القدرة الكاملة علي ربط
                            البرنامج مع اي طرف ثالث يملك
                            الصلاحية لذلك في البرنامج تم ربط
                            مخالفات المرور بالاضافة الي سالك حيث
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-box text-right">
                    <div class="feature-title">
                        <img src="./../../../assets/images/cover_poe-454x450.png" alt="" width="50px" />
                        <span>
                            ادارة الشركة
                        </span>
                    </div>
                    <div class="feature-content">
                        <p>
                            صفحة لتحرير العقد بها كل بيانات العقد من بيانات العميل والسيارة والكفيل والسائق الاضافي و بيانات تصفية لتحليل موقف العقد عداد خروج عداد عودة وسعر الايجار اليومي وعدد ايام العقد وعدد ايام التمديد وعدد الكيلو متر المسموح اليومي وسعر الكيلو متر الزائد والساعات
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-box text-right">
                    <div class="feature-title">
                        <img src="./../../../assets/images/e5c8e9903a4d112477804f0f94b19c98.png" alt="" width="50px" />
                        <span>
                            صلاحيات شاملة
                        </span>
                    </div>
                    <div class="feature-content">
                        <p>
                            الان يمكنك انشاء عدد غير محدودمن
                            المجموعات وولمستخدين واعطائهم
                            صلاحيات متي اردت كما يمكنك
                            التعديل بها متي احتجت لذلك                            
                        </p>
                    </div>
                </div>
            </div> 
            
            <div class="col-md-4">
                <div class="feature-box text-right">
                    <div class="feature-title">
                        <img src="./../../../assets/images/iconoMapa.png" alt="" width="50px" />
                        <span>
                            مصنع الطباعة
                        </span>
                    </div>
                    <div class="feature-content">
                        <p>
                            تخيل,وصمم صفحة طباعة كما يحلو لك
                            مع برنامجنا الجديد يمكنك انشاء وتصميم
                            عدد غير محدود من قوالب الطباعة الجاهزة
                            الصلاحية لذلك التي يمكنك جلب اي بيانات موجودة
                            بالبرنامج ووضعها في القالب بسهولة
                            مع امكانية اعادة طبعها متي أردت                          
                        </p>
                    </div>
                </div>
            </div> 
            
            <div class="col-md-4">
                <div class="feature-box text-right">
                    <div class="feature-title">
                        <img src="./../../../assets/images/printer.png" alt="" width="50px" />
                        <span>
                            المخالفات المرورية
                        </span>
                    </div>
                    <div class="feature-content">
                        <p>
                            جلب تلقائي للمخالفات المرورية مع ربط مباشر
                            مع نظام المخالفات المرورية بالاضافة لجلب
                            المخالفات المتاخرة مباشرة عند نزولها لنظام
                            الصلاحية لذلك المرور بالاضافة للدحول المباشر للنظام                   
                        </p>
                    </div>
                </div>
            </div> 
            
            <div class="col-md-4">
                <div class="feature-box text-right">
                    <div class="feature-title">
                        <img src="./../../../assets/images/file.png" alt="" width="50px" />
                        <span>
                            اضافة عقود للايجار السيارات
                        </span>
                    </div>
                    <div class="feature-content">
                        <p>
                            يمكنك من خلال الموقع ان تقوم باضافة
                            عقد ايجار للسيارة حتي تكون الاجراءات
                            القانونية ويكون عقد
                            الصلاحية لذلك المرور بالاضافة للدحول المباشر للنظام                
                        </p>
                    </div>
                </div>
            </div> 
            
            <div class="col-md-4">
                <div class="feature-box text-right">
                    <div class="feature-title">
                        <img src="./../../../assets/images/iconoPresentacion.png" alt="" width="50px" />
                        <span>
                            لوحة تحكم شاملة
                        </span>
                    </div>
                    <div class="feature-content">
                        <p>
                            حدث خطأ غير مقصود من أحد موظفيك
                            ,وتريد تصحيحها,الامر بغاية السهولة
                            القي نظرة علي اعدادات البرنامج في
                            البرنامج التجريبي            
                        </p>
                    </div>
                </div>
            </div> 
            
            <div class="col-md-4">
                <div class="feature-box text-right">
                    <div class="feature-title">
                        <img src="./../../../assets/images/Refresh.png" alt="" width="50px" />
                        <span>
                            متعدد اللغات
                        </span>
                    </div>
                    <div class="feature-content">
                        <p>
                            لا داعي للقلق بعد الان من عدم القدرة علي اتقان
                            لغات البرامج حيث اننا نود ندرك تماما ان من
                            اولويات برامجنا هي مساعدة العميل قدر الامكان
                            التعديل بها متي احتجت لذلك لانهاء اعماله وترتيبها بشكل سلس وحل كل
                            المعوقات التقنية التي تحول بينه وبين عمله علي
                            برامجنا,لهذا قمنا باضافة ميزة تعدد اللغات          
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 text-center">
                <a href="http://syscars.codesroots.com" class="btn" matRipple>
                    <i class="fas fa-car"></i>
                    جربه الان!!
                </a>
            </div>
        </div>
    </div>
</section>