<section class="seo-service">
    <div class="container-fluid">
        <div class="row center-align">
            <div class="col-md-12">
                <div class="service">
                    <h2 class="text-center">
                        دروس تعليمية في تصميم المواقع
                    </h2>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <img src="./../../../assets/images/train.png" alt="seo" />
            </div>
        </div>
    </div>
</section>

<section class="intro-section" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./../../../../assets/images/bg3.jpg);">
    <div class="container-fluid">
        <div class="row center-align">
            <div class="w-100 content">
                <p>
                    تسعى شركة جذور الأكواد لمساعدة عملائنا فى الوصول الى أعلى مستوى فى تصميم المواقع , برامج إدارة الشركات , التسويق الإلكترونى . لذلك نقدم لكم بعض الدورس البسيطة فى كل من تلك المجالات
                </p>
            </div>
        </div>
    </div>
</section>