<section class="our-clients">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-box">
                    <div class="box-img">
                        <img src="./../../../assets/images/clients.png" alt="" />
                    </div>
                    <div class="box-title">
                        <h4>
                            عملاء نفتخر بخدمتهم
                        </h4>
                    </div>
                    <div class="box-description">
                        <p>
                            مجموعة من عملائنا الذين سعدنا بخدمتهم ومازلنا نفتخر بما قدمناه لهم نعرض لكم عملائنا الذين قمنا بتزيين مشاريعهم بارقى التصميمات واحدث البرمجيات
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider">
        <div class="container">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="./../../../assets/images/clients/1.png" alt="" width="175px" />
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="./../../../assets/images/clients/2.png" alt="" width="175px" />
                </ng-template> 
                <ng-template carouselSlide>
                    <img src="./../../../assets/images/clients/3.png" alt="" width="175px" />
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="./../../../assets/images/clients/4.png" alt="" width="175px" />
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="./../../../assets/images/clients/6.png" alt="" width="175px" />
                </ng-template> 
                <ng-template carouselSlide>
                    <img src="./../../../assets/images/clients/7.png" alt="" width="175px" />
                </ng-template>
                <ng-template carouselSlide>
                    <img src="./../../../assets/images/clients/8.png" alt="" width="175px" />
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="./../../../assets/images/clients/9.png" alt="" width="175px" />
                </ng-template>                                                                    
            </owl-carousel-o> 
        </div>
    </div>    
</section>