<section class="home-about">
    <div class="container-fluid">
        <div class="row center-align">
            <div class="col-md-6">
                <div class="about">
                    <h2>
                        تقدم جذور الأكواد كل الخدمات المتعلقة بالويب وبرمجة المواقع والتسويق الإلكترونى
                    </h2>
                    <p>
                        وتطبيقات الهاتف والدومين والاستضافة وإدارة الحملات الإعلانية وصفحات التواصل الإجتماعى وإعلانات جوجل ادوردس المدفوعة كما لدينا خدمة تطوير الأفكار لأن أول شىء نهتم به هو نجاح مشروعك
                    </p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <img src="./../../../assets/images/about.png" alt="about" />
            </div>
        </div>
    </div>
</section>