<section class="seo-service">
    <div class="container-fluid">
        <div class="row center-align">
            <div class="col-md-6">
                <div class="service">
                    <h2>
                        تصميم تطبيقات الجوال والهواتف الذكية
                    </h2>
                    <p>
                        نقدم فى شركة كودس روتس خدمة تصميم وبرمجة تطبيقات الجوال الذكية اندرويد و ايفون للشركات والأفراد والمؤسسات بجودة عالية ولوحة تحكم لكل تطبيق حسب الاحتياج كما نقوم بعمل تطبيقات احترافية للجوال للأنظمة والشركات بداية من التصميم المتميز المناسب للفكرة وانتهاء ببرمجة قوية وأداء عالي مع الاهتمام بالتحديثات المستمرة للحفاظ على نجاح التطبيق بعد رفعه على سوق جوجل أو الأب ستور .
                    </p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <img src="./../../../assets/images/app-image-1.png" alt="seo" />
            </div>
        </div>
    </div>
</section>