<section class="seo-service">
    <div class="container-fluid">
        <div class="row center-align">
            <div class="col-md-6">
                <div class="service">
                    <h2>
                        تصميم وبرمجة تطبيقات ومواقع المتاجر الاكترونية
                    </h2>
                    <p>
                        اذا كنت تمتلك متجر او محل تجاري لبيع المنتجات تستطيع الان ان تزيد مساحة السوق الخاص بك وبيع منتجاتك في جميع المناطق المحيطة بك فقط عن طريق عمل متجر الكتروني لعرض وبيع المنتجات الخاصة وتوصيلها...لا تكتفي بمحيطك الخاص بمحلك وسع نشاطك فقط مع codesroots
                    </p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <img src="./../../../assets/images/ecommerce.png" alt="seo" />
            </div>
        </div>
    </div>
</section>