<footer class="bottom-footer">
    <div class="container-fluid">
        <div class="row center-align">
            <div class="col-md-4">
                <ul class="list-unstyled text-right links">
                    <li matRipple>
                        <a href="#">
                            الاسئلة الشائعة
                        </a>
                    </li>
                    <li matRipple>
                        <a href="#">
                            اتفاقية الاستخدام
                        </a>
                    </li>
                    <li matRipple>
                        <a href="#">
                            عن CodesRoots
                        </a>
                    </li>                                        
                </ul>
            </div>
            <div class="col-md-4">
                <app-socil-media></app-socil-media>
            </div>
            <div class="col-md-4">
                <p class="copy">
                    جميع الحقوق محفوظلة لشركة CodesRoots
                </p>
            </div>                        
        </div>
    </div>
</footer>