.home-slider{
    direction: ltr;
    height: 500px;
}

.home-slider .slider-item{
    height: 500px;     
    background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
    background-position: 100% 100%!important;
}

@media only screen and (max-width: 600px) {
    .home-slider{height: 30vh!important; }

    .home-slider .slider-item{height: 30vh!important; }
}