<section class="seo-service">
    <div class="container-fluid">
        <div class="row center-align">          
            <div class="col-md-6">
                <div class="service">
                    <h2>
                      مميزات تطبيق والمتجر الاكتروني
                    </h2>
                    <ul class="fa-ul text-right">
                        <li>                      
                          تميز بعمل برمجي منظم وسهل في التطوير وذلك لاستخدام احدث الاساليب البرمجية في العمل
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li>
                        <li>                      
                          عمل عرض سلايدر اعلاني للتطبيق وامكانية تعديله من لوحة التحكم
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li>
                        <li>                      
                          عمل قائمة بالمنتجات الحديثة للمتجر وعرضها في الصفحة الرئيسية
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li>
                        <li>                      
                          عمل قائمة لافضل والمنتجات الاكثر مبيعا في المتجر
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li>  
                        
                        <li>                      
                          عمل قسم خاص بعروض المتجر والتخفضيات
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li> 
                        <li>                      
                          عمل امكانية اضافة اقسام متعددة لمنتجات المتجر وايضا اقسام فرعية
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li> 
                        <li>                      
                          ربط كل منتج بالقسم الخاص به وعرض منتجات كل قسم في القسم الخاص بها
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li>
                        <li>                      
                          عمل صفحة خاصة لكل منتج لعرض تفاصيل المنتج وصورة وجميع معلوماته
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li> 
                        <li>                      
                          عمل سلة خاص بالمتجر لامكانية شراء اكثر من منتج وتحديد الكمية المطلوبة منه
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li> 
                        <li>                      
                          امكانية تجديد موقع العميل من الخريطة
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li>
                        <li>                      
                          امكانية اضافة اكثر  من عنوان للعميل
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li>  
                        <li>                      
                          امكانية الدفع الالكتروني او الكاش
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li>  
                        <li>                      
                          عمل قائمة للطلبات السابقة مع تحديد حالة الطلب للعميل
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li> 
                        <li>                      
                          عمل قائمة بالمنتجات المفضلة للعميل
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li>  
                        <li>                      
                          عمل محادثة بين العميل والمتجر
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li>                                                                                                                                                                                                                          
                    </ul>
                </div>                
            </div>
            <div class="col-md-6 text-center">
                <img src="./../../../assets/images/desktop-image-3.png" alt="seo" />
            </div>              
        </div>
    </div>
</section>