<section class="seo-service">
    <div class="container-fluid">
        <div class="row center-align">          
            <div class="col-md-6">
                <div class="service">
                    <h2>
                        مميزات تطبيقات android, IOS لدى شركة codesroots
                    </h2>
                    <ul class="fa-ul text-right">
                        <li>                      
                            تصميم تطبيقات الجوال استخدام افضل واحدث التقنيات البرمجية فى عمل التطبيقات الحديثة .
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li>
                        <li>                      
                            تصميم تطبيقات الجوال تطبيق اقصى طرق الحماية للتطبيقات .
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li>
                        <li>                      
                            تصميم تطبيقات الجوال توفير وسائل وخصائص برمجية تمنح للعميل الراحة وسهولة الاستخدام .
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li>
                        <li>                      
                            تصميم تطبيقات الجوال سهولة التعديل والاضافة على البرمجيات .
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li>  
                        
                        <li>                      
                            تصميم تطبيقات الجوال التوافق مع جميع أحجام الشاشات المختلفة للجوالات والتابلت .
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li> 
                        <li>                      
                            تصميم تطبيقات الجوال التوافق مع جميع الهواتف الذكية .
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li> 
                        <li>                      
                            تصميم تطبيقات الجوال افضل اسعار لعمل تطبيقات الاندرويد والايفون
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li>
                        <li>                      
                            تصميم تطبيقات الجوال لدينا قسم مخصص لعمل تطبيقات المواقع الاسلامية و الاخبارية والشركات .
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li> 
                        <li>                      
                            تصميم تطبيقات الجوال سابقة أعمال مميزة .
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li> 
                        <li>                      
                            تصميم تطبيقات الجوال تقديم الحلول الجديدة للعملاء .
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li> 
                        <li>                      
                            تصميم تطبيقات الجوال نشر التطبيق على اسواق التطبيقات حسب رغبة العميل .
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                        </li>                                                                                                 
                    </ul>
                </div>                
            </div>
            <div class="col-md-6 text-center">
                <img src="./../../../assets/images/desktop-image-3.png" alt="seo" />
            </div>              
        </div>
    </div>
</section>