<section class="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title text-center">
                    تواصل معنا
                </h2>
                <p>
                    اخبرنا بماذا تفكر عن طريق التواصل معنا من خلال وسائل التواصل المختلفة او عن طريق موقعنا
                </p>
            </div>
            <div class="col-md-12">
                <contact-phone></contact-phone>
            </div>
            <div class="col-md-12">
                <contact-form></contact-form>
            </div>            
        </div>
    </div>
</section>