<ul class="list-unstyled text-center social">
    <li 
        matRipple 
        class="facebook"
        nz-tooltip
        nzTooltipPlacement="bottom"
        nzTooltipTitle="تابعنا على فيس بوك">
        <a href="https://www.facebook.com/codes.roots.7" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
    </li>
    <li 
        matRipple 
        class="twitter"
        nz-tooltip
        nzTooltipPlacement="bottom"
        nzTooltipTitle="تابعنا على تويتر">
        <a href="https://www.twitter.com/CodesRoots" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    </li>  
    <li 
        matRipple 
        class="instagram"
        nz-tooltip
        nzTooltipPlacement="bottom"
        nzTooltipTitle="تابعنا على انستاجرام">
        <a href="https://www.instagram.com/CodesRoots" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
    </li>
    <li 
        matRipple 
        class="youtube"
        nz-tooltip
        nzTooltipPlacement="bottom"
        nzTooltipTitle="تابعنا على يوتيوب">
        <a href="https://www.youtube.com/channel/UCXyef040FvSzu_M3g7jpb0w" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
    </li>     
    <li 
        matRipple 
        class="behance"
        nz-tooltip
        nzTooltipPlacement="bottom"
        nzTooltipTitle="تابعنا على بيهانس">
        <a href="https://www.behance.net/CodesRoots" target="_blank">
            <i class="fab fa-behance"></i>
        </a>
    </li>   
    <li 
        matRipple 
        class="linkedin"
        nz-tooltip
        nzTooltipPlacement="bottom"
        nzTooltipTitle="تابعنا على لينكيدان">
        <a href="https://eg.linkedin.com/in/Codes-Roots" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </li> 
    <li 
        matRipple 
        class="dribbble"
        nz-tooltip
        nzTooltipPlacement="bottom"
        nzTooltipTitle="تابعنا على دريبل">
        <a href="https://www.dribbble.com/CodesRoots" target="_blank">
            <i class="fab fa-dribbble"></i>
        </a>
    </li>                                                                                                                    
</ul>