<section class="our-portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-title">
                    معرض اعمالنا
                </h2>
            </div>
            <div class="col-md-3" *ngFor="let work of works; let i = index">
                <div class="wrapper">
                    <a routerLink="/تفاصيل" (click)="setIndex(i)">
                        <img src="https://www.codesroots.com/library/homepage/photo/umphotos/{{work.photo}}" alt="{{work.name}}" />
                    </a>                    
                </div>                
            </div>
        </div>
    </div>
</section>