<section class="our-services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="./../../../assets/images/our-offers.png" alt="" class="section-title" />
            </div>
            <div class="col-md-3">
                <div class="service-wrapper">
                    <div class="service-img">
                        <img src="./../../../assets/images/cars.png" alt="" />
                    </div>
                    <div class="service-title">
                        <h4>تصميم موقع شركة</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-wrapper">
                    <div class="service-img">
                        <img src="./../../../assets/images/decor.png" alt="" />
                    </div>
                    <div class="service-title">
                        <h4>تصميم موقع اثاث</h4>
                    </div>
                </div>
            </div> 
            <div class="col-md-3">
                <div class="service-wrapper">
                    <div class="service-img">
                        <img src="./../../../assets/images/e-commerce.png" alt="" />
                    </div>
                    <div class="service-title">
                        <h4>تصميم متجر الكتروني</h4>
                    </div>
                </div>
            </div> 
            <div class="col-md-3">
                <div class="service-wrapper">
                    <div class="service-img">
                        <img src="./../../../assets/images/fitness.png" alt="" />
                    </div>
                    <div class="offer-title">
                        <h4>تصميم موقع شخصي</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-wrapper">
                    <div class="service-img">
                        <img src="./../../../assets/images/furinture.png" alt="" />
                    </div>
                    <div class="service-title">
                        <h4>نظام ادارة المعارض والمناديب</h4>
                    </div>
                </div>
            </div> 
            <div class="col-md-3">
                <div class="service-wrapper">
                    <div class="service-img">
                        <img src="./../../../assets/images/law.png" alt="" />
                    </div>
                    <div class="service-title">
                        <h4>عرض تصميم موقع محاماة</h4>
                    </div>
                </div>
            </div> 
            <div class="col-md-3">
                <div class="service-wrapper">
                    <div class="service-img">
                        <img src="./../../../assets/images/medical.png" alt="" />
                    </div>
                    <div class="service-title">
                        <h4>تصميم موقع طبي او مستشفى</h4>
                    </div>
                </div>
            </div> 
            <div class="col-md-3">
                <div class="service-wrapper">
                    <div class="service-img">
                        <img src="./../../../assets/images/school.png" alt="" />
                    </div>
                    <div class="service-title">
                        <h4>تصميم موقع مدرسة او اكاديمية</h4>
                    </div>
                </div>
            </div>                                                                                
        </div>
    </div>
</section>