<section class="seo-service">
    <div class="container-fluid">
        <div class="row center-align">           
            <div class="col-md-6">
                <div class="service">
                    <h2>
                        تصميم المواقع من codesroots
                    </h2>
                    <p>
                        أصبح الأنترنت أكبر وسيلة للتواصل مع الآخرين خاصة فيما يتعلق بمجال الأعمال وفي كثير من الأحيان يكون لدى العميل فكرة معينة لانشاء موقعه بحيث تلبي الفكرة الهدف المنشود لمنشأته أو طبيعة عمله وبعض الأفكار تحتاج لعمل ب رمجة مخصصة لتلبي متطلبات الموقع والغاية من انشاءه نحن في كودس روتس نملك فريقاً برمجياً على استعداد تام لتلبية كافة البرمجيات التي يطلبها العميل وبأفضل شكل حيث نستخدم لغات البرمجة المتعددة ولا سيما لغة php التي تعتبر الأكثر استخداماً في التطبيقات البرمجية ونسعى بكافة السبل والتقنيات المتاحة لتقديم الموقع بأفضل شكل يصبو اليه العميل
                    </p>  
                    <p>
                        نحن لا نعتبر تصميم الموقع هو عملنا فقط ولكننا نعشق العمل فيه ونحاول جاهدين ان ننتج كل جديد في مجال تصميم المواقع وشعارنا هو الالتزام ثم الجوده ونريد ان نؤكد عليكم انكم لن تحصلو علي عمل الا وانتم راضيين عنه مئة بالمئة وذلك لاننا نطمع ان نصبح افضل شركة برمجه في الوطن العربي
                    </p>             
                </div>
            </div>
            <div class="col-md-6 text-center">
                <img src="./../../../assets/images/web-design-section.png" alt="seo" />
            </div>             
        </div>
    </div>
</section>